{% extends 'global/Page.html' %}

{% block title %}
    <div class="d-flex justify-content-center" style="margin-top: -50px">
        <h2 id="heading" style="margin-bottom:20px">TASK PHASE - CHAT</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="explanation-container">
        <p>In this task, several rounds of mathematical equations will be shown. You will work on this task in a group of 3 people. You will only see some parts of each equation. Therefore, in order to sum up all numbers, you will have to coordinate with your group members to find the final solution. A task is solved correctly if at least 2 of your group provide the correct solution.</p>
        <p>You can show the others which part of the equation you are working on by clicking on an answer field (it will then appear colored to others).</p>
    </div>

    <div class="explanation-container">
        <p>The final answer you enter is shown to the others (above and below your final answer) and cannot be changed by them. Once you submit your final answer by pressing "Enter" on the keyboard, you will no longer be able to change anything.</p>
        <p>Each equation will be shown for 30 seconds only. Please answer as fast and accurately as possible. You can enter your final solution 10 seconds after the equation has been shown. After each equation, there will be a 4-second break, and the text "XX" will be displayed.</p>
        <p>A task is over when the time is up or if all 3 group members have submitted their answer. Remember: A task is only solved correctly if at least 2 of your group provide the correct solution.</p>
        <p>In the next phase, you can try out how the task works in a test round for 7 minutes.</p>
    </div>

    <div class="d-flex justify-content-center">
        <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
    </div>

{% endblock %}

