{% extends 'global/Page.html' %}

{% block title %}
    <div class="d-flex justify-content-center" style="margin-top: -50px">
        <h2 style="margin-bottom:20px">PRACTICE ROUND OVER</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <p>You are done with the <b>practice round</b>.</p>
        <p>In the following round, please solve the equations as quickly as you can.</p>
        <p>Please avoid unnecessary movements.</p>
        <p>Click on "Next" to proceed to the first full round.</p>
    </div>

    <div class="d-flex justify-content-center">
        <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
    </div>

{% endblock %}
