{% extends 'global/Page.html' %}

{% block title %}
<div class="d-flex justify-content-center" style="margin-top: -50px" xmlns="http://www.w3.org/1999/html">
        <h2 id="heading" style="margin-bottom:20px">TASK PHASE</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="explanation-container">
        <p>Additionally to the task, you will be provided with a chat window.</p>
        <p>Using the chat, you can <strong>coordinate with your team members</strong>, for instance to agree on strategies or eliminate uncertainties during the following test round.</p>
    </div>
        <div class="col d-flex justify-content-center">
                <img src="{% static 'ChatDemo.png' %}" alt="3" class="img-fluid" style="max-width: 90%; height: auto;">
            </div>
    <div class="explanation-container">
        <p>Please remember: The goal is to <strong>submit as many correct answers as possible in the final answer field</strong> - only these will count towards your score!</p>
    </div>

    <div class="d-flex justify-content-center">
        <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
    </div>

{% endblock %}

