{% extends "_templates/global/Page.html" %}

{% block title %}
    DECISION MAKING TASK
{% endblock %}

{% block content %}
<style>
     .content-box {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f9f9f9;
    }
</style>

<div class="content-box">
    <p>In this study, you will take on the role of a key decision-maker in a company wanting to make a decision with regard to three different management problems.
        Your objective is to collaborate with your teammates to select the optimal alternative for the company’s success.</p>
</div>

<br/><br/>
{{ next_button }}
{% endblock %}
