{% extends 'global/Page.html' %}

{% block title %}
    <div class="d-flex justify-content-center" style="margin-top: -50px">
        <h2 style="margin-bottom:20px">DIFFICULTY SELECTION</h2>
    </div>
{% endblock %}

{% block content %}

     <div class="jumbotron" style="padding-top: 5%">
         <p>The equation below is an example for how tasks will look in one of the following rounds.
             Please select a task level that <b>matches your abilities well</b>.
             It should be a difficulty that is neither too low, nor too high.</p>
         <div id="equationDisplay" style="margin: 10px; text-align: center;">
             <span id="equation">97 + 28 + 70 + 72 + 85 = ?</span>
         </div>

         <table class="table" frame="void" style="width:100%; margin-top: 20px; margin-bottom: -5px">
             <tr>
                 <td style="text-align:center">|</td>
                 <td style="text-align:center">|</td>
                 <td style="text-align:center">|</td>
                 <td style="text-align:center">|</td>
                 <td style="text-align:center">|</td>
                 <td style="text-align:center">|</td>
                 <td style="text-align:center">|</td>
                 <td style="text-align:center">|</td>
                 <td style="text-align:center">|</td>
             </tr>
         </table>

         <div class="slidecontainer" style="padding-left: 6%; padding-right: 6%">
             <input name="math_difficulty_selection" type="range" min="2" max="10" value="6" class="slider" id="selection" onchange="changeSlider()">
         </div>

        <h4 style="text-align:center"><b> Difficulty </b></h4>
     </div>


    <div id="next-page" class="d-flex justify-content-center" style="display:none">
        {% next_button %}
    </div>

    <script>
        function sumOfArray(arr) {
            // Getting sum of numbers
            return arr.reduce(function(a, b){
              return a + b;
            }, 0);
          }

        function arrayToString(arr) {
            let problemText = arr[0];
            for (let i = 1; i < arr.length; i++) {
              problemText += " + " + arr[i];
            }
            return problemText;
          }

          function flowProblem(level) {
            problem = [];
            let summandZahl = 2; // Default (Required minimum)
            let letzterSummandEinstellig = false; // Default

             // Compute nr. of summands.
            if (level > 0) {
              // If level uneven last summand with one digit
              if ((level % 2) === 1) {
                temp = parseInt(level) + 1;
                letzterSummandEinstellig = true;
                summandZahl = (temp / 2) + 2;
              } else {
                summandZahl = (level / 2) + 2;
              }
            }

            // Generate problem with random numbers.
            if (letzterSummandEinstellig) {
              for (let i = 0; i < summandZahl - 1; i++) {
                problem[i] = Math.floor(Math.random() * 89) + 10;
              }
              problem[summandZahl - 1] = Math.floor(Math.random() * 9) + 1;
            } else {
              for (let i = 0; i < summandZahl; i++) {
                problem[i] =  Math.floor(Math.random() * 89) + 10;
              }
            }

            // Check that result is a 3-digit number.
            if (sumOfArray(problem) > 99 && sumOfArray(problem) < 999) {
              return problem;
            } else {
              return flowProblem();
            }
          }

        function changeSlider() {
            value = document.getElementById("selection").value;
            document.getElementById("equation").textContent = arrayToString(flowProblem(value)) + '  = ?';
        }
    </script>
{% endblock %}
