{% extends 'global/Page.html' %}

{% block title %}
    ROLES
{% endblock %}

{% block content %}

<style>
     .content-box {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f9f9f9;
    }
</style>

<div class="content-box">
    <p><b>In each round</b>, you and your team members will be assigned to one of the following roles:</p>
    <ul>
        <ul>
            <li><strong>Financial Officer (CFO):</strong> Is in charge of making financial decisions for the company, as well as making sure that projects are within reasonable budget limits. </li>
            <li><strong>Marketing Officer (CMO):</strong> Is focused on achieving a high market demand and brand visibility.</li>
            <li><strong>Human Resources Officer (CHRO):</strong> Advocates for projects that contribute to a supportive workplace while managing employee costs effectively.</li>
        </ul>
    </ul>
</div>
<br/><br/>
{{ next_button }}
{% endblock %}