{% extends 'global/Page.html' %}

{% block title %}
    TASK OVERVIEW
{% endblock %}

{% block content %}

<style>
     .content-box {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f9f9f9;
    }
</style>


<div class="content-box">
    <p>Here is how the task series works:</p>
    <ul>
        <li>In <b style="color: red">three rounds</b>, you and your team-members will make informed management decisions together.
            In each case, only one of them is the best for your company!</li>
        <li>
            To make an informed decision, you must collaborate and <strong>share</strong> the information you have with your team.
            Please note that the necessary information has been distributed between you and your team members.
        </li>
        <li>Your objective is to communicate effectively to compile an overview of all the given information, and <strong>choose the best project</strong>.
        <li>
            You will have <b style="color: red">3 minutes</b> to study the given information and then a
            <strong style="color:red;">{% block discussion_mode %}
            5-minute chat discussion{% endblock %}</strong>.
            Use this time wisely to share, discuss and strategize with your team.
        </li>
        <li>
            After the discussion you will have to vote for your preferred decision.
            <strong>The project with the highest number of votes will be your team's choice.</strong>
        </li>
    </ul>
</div>
<br/><br/>

{{ next_button }}
{% endblock %}