{% extends 'global/Page.html' %}

{% block title %}
    SCORING SYSTEM
{% endblock %}

{% block content %}

<style>
     .content-box {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f9f9f9;
    }
</style>

<div class="content-box">
    Please note that out of the given project alternatives there is only one best decision based on these criteria.
    A project gets chosen if the majority (at least 2 out of the 3 team members) select it.
    <br><br/>
    <p>Here is how the scoring system works:</p>
    <ul>
        <li>Teams who choose the best project will score <strong> 15 Points</strong>.</li>
        <li>Teams who choose a suboptimal project will score <strong> 10 Points</strong>.</li>
        <li>Teams who choose the worst project will score <strong> 5 Points</strong>.</li>
        <li>Teams with no clear majority will score <strong> 0 Points</strong>.</li>
    </ul>

</div>
<br/><br/>
{{ next_button }}
{% endblock %}