{% extends "global/Page.html" %}

{% block title %}
    PROJECT DECISION
{% endblock %}

{% block content %}

<style>
     .content-box {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f9f9f9;
    }
</style>

<div class="content-box">
    <p>Based on the discussion you just had, choose the project that you think is best for the company.</p>
<form method="post">

    {% for project in projects2 %}
        <div>
            <label>
                <input type="radio" name="project2_choice" value="{{ project.name }}" required>
            </label>
            <strong>{{ project.name }}</strong><br>
        </div>
    {% endfor %}

    <!-- Display form field errors -->
    {{ formfield_errors 'project2_choice' }}

    <button type="submit">Submit</button>
</form>
</div>
<br/><br/>
{% endblock %}
