{% extends "global/Page.html" %}

{% block title %}
    ROLE ASSIGNMENT
{% endblock %}

{% block content %}

<style>
     .content-box {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f9f9f9;
    }
</style>

<div class="content-box">
    <p>This is <b style="color:red;">Round {{ round_nr }}</b> <b>of 3</b>.</p>

    <p>Welcome, <strong>{{ role }}</strong>! Here’s what you need to know:</p>

{% if role == 'Chief Marketing Officer' %}
    <p>As the Chief Marketing Officer (CMO), your main interest is in decisions increasing <strong> market demand.</strong></p>
{% elif role == 'Chief Human Resources Officer' %}
    <p>As the Chief Human Resources Officer (CHRO), you prioritize decisions decreasing <strong>salary costs</strong>.</p>
{% elif role == 'Chief Financial Officer' %}
<p>As the Chief Financial Officer (CFO), you are focused on decisions with <strong>high profitability</strong>.</p>
{% endif %}
</div>


<br/><br/>

{{ next_button }}
{% endblock %}
