{{ extends 'global/Page.html' }}

{% block title %}
    <div class="d-flex justify-content-center" style="margin-top: -50px">
        <h2 style="margin-bottom:20px"> Task Survey - Phase Questionnaire </h2>
    </div>
    <div class="jumbotron" style="padding-top: 2%; padding-bottom: 2%; font-size: 21px; font-weight: 200">
        Please answer the following questions.
        There are no right or wrong answers in this experiment.
        We are only interested in <b>your personal opinion.</b>
    </div>
{% endblock %}

{% block content %}

    <style>
        #fss tr:nth-child(even) {background-color: #f9f9f9;}
        #dcd tr:nth-child(even) {background-color: #f9f9f9;}
        #aut tr:nth-child(even) {background-color: #f9f9f9;}
        th {
            text-align:center;
            width: 5%;
        }
        input[type="radio"]{margin-left:-5.5px}

        input[type="range"] {
            -webkit-appearance: slider-horizontal;
            max-width: 85%;
            display: inline;
            margin-left: 2%;
            margin-right: 2%;
        }
    </style>

    <div id="ptc" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_ptc") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="qti" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_qti") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

     <div id="twe" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_twe") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="te" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_te") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

     <div id="int" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_int") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="cg" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_cg") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="twb" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_twb") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

     <div id="tsz" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_tsz") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="td" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_td") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

     <div id="tsc" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_tsc") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="mc" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_mc") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

     <div id="wm" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_wm") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="ws" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_ws") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="perg" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_perg") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="ce" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_ce") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="psp" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_psp") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="fam" class="jumbotron" style="padding-top: 5%">
        <p>Please indicate how familiar you are with your group members.</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Very little </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Very much </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_fam") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div class="survey-container">
        <div class="row">
            <h3><b>Please choose the diagram that best describes the relationship between you and the other participants.</b></h3>
        </div>

        <div class="row" style="margin-bottom:20px">
            <div class="col d-flex justify-content-center">
            </div>
            <div class="col d-flex justify-content-center">
                <img src="{% static 'FusionA.png' %}" alt="1">
            </div>
             <div class="col d-flex justify-content-center">
                <img src="{% static 'FusionB.png' %}" alt="2">
            </div>
             <div class="col d-flex justify-content-center">
                <img src="{% static 'FusionC.png' %}" alt="3">
            </div>
             <div class="col d-flex justify-content-center">
                <img src="{% static 'FusionD.png' %}" alt="4">
             </div>
            <div class="col d-flex justify-content-center">
                <img src="{% static 'FusionE.png' %}" alt="5">
            </div>
            <div class="col d-flex justify-content-center">
            </div>
        </div>

        <div class="row">
            <div class="col"></div>
            {% for choice in form.fusion %}
                <div class="col d-flex justify-content-center"> {{ choice }} </div>
            {% endfor %}
            <div class="col"></div>
        </div>

        <hr/>

    <div class="d-flex justify-content-center" style="clear:both">
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
    </div>

    <script>
        // Reset the selections
        $('input[class=form-check-input]').attr('checked',false);

        // For better UX: Select radio button when clicking into a table cell
        $('td').click(function() {
            $(this).find('input:radio').prop('checked', true);
        })
    </script>

{% endblock %}