{{ extends 'global/Page.html' }}

{% block title %}
    <div class="d-flex justify-content-center" style="margin-top: -50px">
        <h2 style="margin-bottom:20px"> TASK ROUND SURVEY </h2>
    </div>
    <div class="jumbotron" style="padding-top: 2%; padding-bottom: 2%; font-size: 21px; font-weight: 200">
        Please answer the following questions.
        There are no right or wrong answers in this experiment.
        We are only interested in <b>your personal opinion.</b>
    </div>
{% endblock %}

{% block content %}

    <style>
        #fss tr:nth-child(even) {background-color: #f9f9f9;}
        #dcd tr:nth-child(even) {background-color: #f9f9f9;}
        #aut tr:nth-child(even) {background-color: #f9f9f9;}
        th {
            text-align:center;
            width: 5%;
        }
        input[type="radio"]{margin-left:-5.5px}

        input[type="range"] {
            -webkit-appearance: slider-horizontal;
            max-width: 85%;
            display: inline;
            margin-left: 2%;
            margin-right: 2%;
        }
    </style>

  <div class="survey-container">
        <div class="row">
            <h3><b>Select the figure that best represents your level of pleasure.</b></h3>
        </div>

        <div class="row" style="margin-bottom:20px">
            <div class="col d-flex justify-content-center">
                <p style="margin-top:45%"> Unhappy </p>
            </div>
            <div class="col d-flex justify-content-center">
                <img src="{% static 'maniA1.png' %}" alt="1">
            </div>
             <div class="col text-center"> </div>
             <div class="col d-flex justify-content-center">
                <img src="{% static 'maniA2.png' %}" alt="2">
            </div>
             <div class="col text-center"> </div>
             <div class="col d-flex justify-content-center">
                <img src="{% static 'maniA3.png' %}" alt="3">
            </div>
             <div class="col text-center"> </div>
             <div class="col d-flex justify-content-center">
                <img src="{% static 'maniA4.png' %}" alt="4">
            </div>
             <div class="col text-center"> </div>
             <div class="col d-flex justify-content-center">
                <img src="{% static 'maniA5.png' %}" alt="5">
            </div>
            <div class="col d-flex justify-content-center">
                <p style="margin-top:45%"> Happy </p>
            </div>
        </div>

        <div class="row">
            <div class="col"></div>
            {% for choice in form.pleasure %}
                <div class="col d-flex justify-content-center"> {{ choice }} </div>
            {% endfor %}
            <div class="col"></div>
        </div>

        <hr/>

        <div class="row">
            <h3><b>Select the figure that best represents your level of arousal.</b></h3>
        </div>

        <div class="row" style="margin-top:20px">
            <div class="col d-flex justify-content-center">
                <p style="margin-top:45%"> Relaxed </p>
            </div>
            <div class="col d-flex justify-content-center">
                <img src="{% static 'maniB1.png' %}" alt="1">
            </div>
             <div class="col text-center"> </div>
             <div class="col d-flex justify-content-center">
                <img src="{% static 'maniB2.png' %}" alt="2">
            </div>
             <div class="col text-center"> </div>
             <div class="col d-flex justify-content-center">
                <img src="{% static 'maniB3.png' %}" alt="3">
            </div>
             <div class="col text-center"> </div>
             <div class="col d-flex justify-content-center">
                <img src="{% static 'maniB4.png' %}" alt="4">
            </div>
             <div class="col text-center"> </div>
             <div class="col d-flex justify-content-center">
                <img src="{% static 'maniB5.png' %}" alt="5">
            </div>
            <div class="col d-flex justify-content-center">
                <p style="margin-top:45%"> Stimulated </p>
            </div>
        </div>

        <div class="row">
            <div class="col"></div>
            {% for choice in form.arousal %}
                <div class="col d-flex justify-content-center"> {{ choice }} </div>
            {% endfor %}
            <div class="col"></div>
        </div>

    </div>

    <div id="fss" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Not At All </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Partly </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Very Much </th>
            </tr>

            {% for field in form %}
            {% if field.id.startswith("id_fss") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="sfss" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Not At All </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Partly </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Very Much </th>
            </tr>

           {% for field in form %}
            {% if field.id.startswith("id_sfss") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="csb" class="jumbotron" style="padding-top: 5%">
        <p>Please complete the following statements.</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Very Low </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Very High </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_csb") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

     <div id="is" class="jumbotron" style="padding-top: 5%">
        <p>Working on this task...</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_is") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="ptp" class="jumbotron" style="padding-top: 5%">
        <p>Please indicate the extent to which the following applies to your experience.</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Very Little </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Very Much </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_ptp") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="san" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Very Little </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Very Much </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_san") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

     <div id="tm" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_tm") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="ccsb" class="jumbotron" style="padding-top: 5%">
        <p>Please complete the following statements.</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Very Low </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Very High </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_ccsb") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

     <div id="ec" class="jumbotron" style="padding-top: 5%">
        <p>                                             </p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Very Little </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Very Much </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_ec") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="es" class="jumbotron" style="padding-top: 5%">
        <p>Please indicate the extent to which the following applies to your experience.</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Very Little </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Very Much </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_es") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

     <div id="pgp" class="jumbotron" style="padding-top: 5%">
        <p>Please indicate the extent to which the following applies to your experience.</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Very Little </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Very Much </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_pgp") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="info" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_info") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div class="d-flex justify-content-center" style="clear:both">
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
    </div>

    <script>
        // Reset the selections
        $('input[class=form-check-input]').attr('checked',false);

        // For better UX: Select radio button when clicking into a table cell
        $('td').click(function() {
            $(this).find('input:radio').prop('checked', true);
        })
    </script>

{% endblock %}