{{ extends 'global/Page.html' }}

{% block title %}
    <div class="d-flex justify-content-center" style="margin-top: -50px">
        <h2 style="margin-bottom:20px"> TASK PHASE SURVEY </h2>
    </div>
    <div class="jumbotron" style="padding-top: 2%; padding-bottom: 2%; font-size: 21px; font-weight: 200">
        Please answer the following questions.
        There are no right or wrong answers in this experiment.
        We are only interested in <b>your personal opinion.</b>
    </div>
{% endblock %}

{% block content %}

    <style>
        #fss tr:nth-child(even) {background-color: #f9f9f9;}
        #dcd tr:nth-child(even) {background-color: #f9f9f9;}
        #aut tr:nth-child(even) {background-color: #f9f9f9;}
        th {
            text-align:center;
            width: 5%;
        }
        input[type="radio"]{margin-left:-5.5px}

        input[type="range"] {
            -webkit-appearance: slider-horizontal;
            max-width: 85%;
            display: inline;
            margin-left: 2%;
            margin-right: 2%;
        }
    </style>

    <div id="ptcANDqtiANDtweANDte" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

            {% for field in form %}
            {% if field.id.startswith("id_ptc") or field.id.startswith("id_qti") or field.id.startswith("id_twe") or field.id.startswith("id_te")%}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

<div id="intANDcgANDtwb" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_int") or field.id.startswith("id_cg") or field.id.startswith("id_twb")%}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="tszANDtdANDtscANDmcANDwm" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_tsz") or field.id.startswith("id_td") or field.id.startswith("id_tsc") or field.id.startswith("id_mc") or field.id.startswith("id_wm")%}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="wsANDpergANDceANDpsp" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_ws") or field.id.startswith("id_perg") or field.id.startswith("id_ce") or field.id.startswith("id_psp")%}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

<div id="sl" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Strongly disagree </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Strongly agree </th>
            </tr>

             {% for field in form %}
            {% if field.id.startswith("id_sl")%}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div id="fam" class="jumbotron" style="padding-top: 5%">
        <p>Please indicate how familiar you are with your group members.</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Very little </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Very much </th>
            </tr>

            {% for field in form %}
                {% if field.id == "id_fam1_lightcoral" and my_color != "lightcoral" %}
                    <tr>
                        <td align="left" style="width:33%">
                            <strong>After this task, how well do you know the player labeled
                            <span style="color: lightcoral; font-weight: bold">lightcoral</span>?</strong>
                        </td>
                        {% for choice in field %}
                            <td align="center">{{ choice }}</td>
                        {% endfor %}
                    </tr>
                {% elif field.id == "id_fam2_lightcoral" and my_color != "lightcoral" %}
                    <tr>
                        <td align="left" style="width:33%">
                            <strong>During the task, how closely did you work together with the player labeled
                            <span style="color: lightcoral; font-weight: bold">lightcoral</span>?</strong>
                        </td>
                        {% for choice in field %}
                            <td align="center">{{ choice }}</td>
                        {% endfor %}
                    </tr>
                {% elif field.id == "id_fam1_lightblue" and my_color != "lightblue" %}
                    <tr>
                        <td align="left" style="width:33%">
                            <strong>After this task, how well do you know the player labeled
                            <span style="color: lightblue; font-weight: bold">lightblue</span>?</strong>
                        </td>
                        {% for choice in field %}
                            <td align="center">{{ choice }}</td>
                        {% endfor %}
                    </tr>
                {% elif field.id == "id_fam2_lightblue" and my_color != "lightblue" %}
                    <tr>
                        <td align="left" style="width:33%">
                            <strong>During the task, how closely did you work together with the player labeled
                            <span style="color: lightblue; font-weight: bold">lightblue</span>?</strong>
                        </td>
                        {% for choice in field %}
                            <td align="center">{{ choice }}</td>
                        {% endfor %}
                    </tr>
                {% elif field.id == "id_fam1_lightgreen" and my_color != "lightgreen" %}
                    <tr>
                        <td align="left" style="width:33%">
                            <strong>After this task, how well do you know the player labeled
                            <span style="color: lightgreen; font-weight: bold">lightgreen</span>?</strong>
                        </td>
                        {% for choice in field %}
                            <td align="center">{{ choice }}</td>
                        {% endfor %}
                    </tr>
                {% elif field.id == "id_fam2_lightgreen" and my_color != "lightgreen" %}
                    <tr>
                        <td align="left" style="width:33%">
                            <strong>During the task, how closely did you work together with the player labeled
                            <span style="color: lightgreen; font-weight: bold">lightgreen</span>?</strong>
                        </td>
                        {% for choice in field %}
                            <td align="center">{{ choice }}</td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
        </table>
    </div>

    <div class="survey-container">
        <div class="row">
            <h3><b>Please choose the diagram that best describes the relationship between you and the other participants.</b></h3>
        </div>

        <div class="row" style="margin-bottom:20px">
            <div class="col d-flex justify-content-center">
            </div>
            <div class="col d-flex justify-content-center">
                <img src="{% static 'FusionA.png' %}" alt="1">
            </div>
             <div class="col d-flex justify-content-center">
                <img src="{% static 'FusionB.png' %}" alt="2">
            </div>
             <div class="col d-flex justify-content-center">
                <img src="{% static 'FusionC.png' %}" alt="3">
            </div>
             <div class="col d-flex justify-content-center">
                <img src="{% static 'FusionD.png' %}" alt="4">
             </div>
            <div class="col d-flex justify-content-center">
                <img src="{% static 'FusionE.png' %}" alt="5">
            </div>
            <div class="col d-flex justify-content-center">
            </div>
        </div>

        <div class="row">
            <div class="col"></div>
            {% for choice in form.fusion %}
                <div class="col d-flex justify-content-center"> {{ choice }} </div>
            {% endfor %}
            <div class="col"></div>
        </div>

        <hr/>

    <div class="d-flex justify-content-center" style="clear:both">
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
    </div>

    <script>
        // Reset the selections
        $('input[class=form-check-input]').attr('checked',false);

        // For better UX: Select radio button when clicking into a table cell
        $('td').click(function() {
            $(this).find('input:radio').prop('checked', true);
        })
    </script>

{% endblock %}