{{ extends 'global/Page.html' }}

{{ block title }}

    <div class="d-flex justify-content-center" style="margin-top: -50px">
        <h2 style="margin-bottom:20px">TRAIT QUESTIONNAIRE</h2>
    </div>

{{ endblock }}

{{ block content }}

    <div class="survey-container">
        <div class="row">
            <p>Please state how much the following questions describe yourself. </p>
        </div>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th>                                          </th>
                <th style="text-align:center"> Very Little </th>
                <th>  </th>
                <th style="text-align:center"> Neutral </th>
                <th>  </th>
                <th style="text-align:center"> Very Much </th>
            </tr>
        {% for field in form %}
            {% if field.id.startswith("id_ta") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" > {{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div class="survey-container">
        <div class="row">
            <p>Please answer the following questions in relation to <b>your experience when working or studying.</b> These
            questions relate to the thoughts and feelings you may experience during working or studying in your <b>daily life.</b>
            You may experience these characteristics some of the time, all the time, or none of the time. There
            are no right or wrong answers. </p>
        </div>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th> When you do something at <span style="color:orange"><b>work</b></span>, how often does it happen that ... </th>
                <th style="text-align:center"> Never </th>
                <th style="text-align:center"> Rarely </th>
                <th style="text-align:center"> Sometimes </th>
                <th style="text-align:center"> Often </th>
                <th style="text-align:center"> (Almost) Everyday </th>
            </tr>
        {% for field in form %}
            {% if field.id.startswith("id_fpw") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" > {{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th> When you are doing <span style="color:green"><b>household work</b></span> or other routine chores (e.g. cooking, cleaning, shopping) how often does it happen that ... </th>
                <th style="text-align:center"> Never </th>
                <th style="text-align:center"> Rarely </th>
                <th style="text-align:center"> Sometimes </th>
                <th style="text-align:center"> Often </th>
                <th style="text-align:center"> (Almost) Everyday </th>
            </tr>
        {% for field in form %}
            {% if field.id.startswith("id_fph") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" > {{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th> When you do something in your <span style="color:blue"><b>leisure time</b></span>, how often does it happen that .. </th>
                <th style="text-align:center"> Never </th>
                <th style="text-align:center"> Rarely </th>
                <th style="text-align:center"> Sometimes </th>
                <th style="text-align:center"> Often </th>
                <th style="text-align:center"> (Almost) Everyday </th>
            </tr>
        {% for field in form %}
            {% if field.id.startswith("id_fpl") %}
                <tr>
                    <td align="left" style="width:33%">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" > {{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div class="survey-container">
        <div class="row">
            <p>Please indicate if you recognize your team members from before the study.</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th>                                          </th>
                <th style="text-align:center"> Very Little </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Very Much </th>
            </tr>
            {% for field in form %}
                {% if field.id == "id_rec_lightcoral" and my_color != "lightcoral" %}
                    <tr>
                        <td align="left" style="width:33%">
                            Before the study, how well did you know the player labeled
                            <span style="color: lightcoral; font-weight:bold;">lightcoral</span>?
                        </td>
                        {% for choice in field %}
                            <td align="center">{{ choice }}</td>
                        {% endfor %}
                    </tr>
                {% elif field.id == "id_rec_lightblue" and my_color != "lightblue" %}
                    <tr>
                        <td align="left" style="width:33%">
                            Before the study, how well did you know the player labeled
                            <span style="color: lightblue; font-weight:bold;">lightblue</span>?
                        </td>
                        {% for choice in field %}
                            <td align="center">{{ choice }}</td>
                        {% endfor %}
                    </tr>
                {% elif field.id == "id_rec_lightgreen" and my_color != "lightgreen" %}
                    <tr>
                        <td align="left" style="width:33%">
                            Before the study, how well did you know the player labeled
                            <span style="color: lightgreen; font-weight:bold;">lightgreen</span>?
                        </td>
                        {% for choice in field %}
                            <td align="center">{{ choice }}</td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <div class="d-flex justify-content-center" style="clear:both">
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
    </div>

    {{ endblock }}
