{% extends 'global/Page.html' %}

{% block title %}
    <div class="d-flex justify-content-center" style="margin-top: -50px">
        <h2 style="margin-bottom:20px">SOME QUESTIONS ABOUT THE ROUND</h2>
    </div>
{% endblock %}

{% block content %}

    <style>
        .myclass::-webkit-slider-thumb {
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #007afe;
            border: 1px solid #000000;
            height: 30px !important;
            width: 20px !important;
            border-radius: 10px !important;
            background: #0077ff !important;
            cursor: pointer !important !important;
            -webkit-appearance: none !important;
            margin-top: -7px !important;
        }

        .scaleelement {
            float:left;
            width: 14.25%;
        }

        input[type=range] {
        -webkit-appearance: none;
        margin: 18px 0;
        width: 100%;
        }

        input[type=range]:focus {
            outline: none;
        }

        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 8.4px;
            cursor: pointer;
            animate: 0.2s;
            {#box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;#}
            border-radius: 0px;
            border: 0.0px solid #ffffff;
        }

        input[type=range]::-webkit-slider-thumb {
            border: 0px;
            height: 0px;
            width: 0px;
            border-radius: 0px;
            -webkit-appearance: none;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('input[name=pleasure]').on('click', function () {
                $('input[name=pleasure]').addClass('myclass');
            });
        });

        $(document).ready(function () {
            $('input[name=arousal]').on('click', function () {
                $('input[name=arousal]').addClass('myclass');
            });
        });
    </script>

    <div id="pna" class="jumbotron" style="padding-top: 5%">
        <h4 style="">Please select the figures which best matches how you feel.</h4>
        <hr/>

        <div class="row">
            <h4><b>Question 1/2:</b></h4>
            <h4>Select the figure that best represents your level of pleasure.</h4>
        </div>

        <div class="row" style="margin-bottom:20px">
            <div class="scaleelement d-flex justify-content-center">
                <p style="margin-top:45%"> Unhappy </p>
            </div>
            <div class="scaleelement d-flex justify-content-center">
                <img src="{% static 'maniA1.png' %}" alt="1">
            </div>
             <div class="scaleelement d-flex justify-content-center">
                <img src="{% static 'maniA2.png' %}" alt="2">
            </div>
             <div class="scaleelement d-flex justify-content-center">
                <img src="{% static 'maniA3.png' %}" alt="3">
            </div>
             <div class="scaleelement d-flex justify-content-center">
                <img src="{% static 'maniA4.png' %}" alt="4">
            </div>
             <div class="scaleelement d-flex justify-content-center">
                <img src="{% static 'maniA5.png' %}" alt="5">
            </div>
            <div class="scaleelement d-flex justify-content-center">
                <p style="margin-top:45%"> Happy </p>
            </div>
        </div>
        <div class="row">
            <div class="slidecontainer" style="margin-top: 15px; padding-left: 20%; padding-right: 20%">
                <input name="pleasure" type="range" min="1" max="5" value="3.5" class="slider" id="myRange">
            </div>
        </div>

        <hr/>

        <div class="row">
            <h4><b>Question 2/2:</b></h4>
            <h4>Select the figure that best represents your level of arousal.</h4>
        </div>

        <div class="row" style="margin-top:20px">
            <div class="scaleelement d-flex justify-content-center">
                <p style="margin-top:45%"> Relaxed </p>
            </div>
            <div class="scaleelement d-flex justify-content-center">
                <img src="{% static 'maniB1.png' %}" alt="1">
            </div>
             <div class="scaleelement d-flex justify-content-center">
                <img src="{% static 'maniB2.png' %}" alt="2">
            </div>
             <div class="scaleelement d-flex justify-content-center">
                <img src="{% static 'maniB3.png' %}" alt="3">
            </div>
             <div class="scaleelement d-flex justify-content-center">
                <img src="{% static 'maniB4.png' %}" alt="4">
            </div>
             <div class="scaleelement d-flex justify-content-center">
                <img src="{% static 'maniB5.png' %}" alt="5">
            </div>
            <div class="scaleelement d-flex justify-content-center">
                <p style="margin-top:45%"> Stimulated </p>
            </div>
        </div>
        <div class="row">
            <div class="slidecontainer" style="margin-top: 15px; padding-left: 20%; padding-right: 20%">
                <input name="arousal" type="range" min="1" max="5" value="3.5" class="slider" id="myRange">
            </div>
        </div>
    </div>

    <div id="next-page" class="d-flex justify-content-center" style="display:none">
        {% next_button %}
    </div>

{% endblock %}
