{% extends 'global/Page.html' %}

{% block title %}
    <div class="d-flex justify-content-center" style="margin-top: -50px">
        <h2 style="margin-bottom:20px">SOME QUESTIONS ABOUT THE ROUND</h2>
    </div>
{% endblock %}

{% block content %}

    <style>
        input[type="range"] {
            -webkit-appearance: slider-vertical;
            height: 600px;
            width: 100%;
        }

        .slider-wrapper {
            height: 600px;
            width: 30px;
            display: inline-block;
            margin-left: 2%;
        }

    </style>

    <script>

     </script>

    <div id="rsme" class="jumbotron" style="padding-top: 5%">
        <h4 style="text-align:center">Please state how much mental effort was needed for you to solve the previous task.</h4>
        <br>
        <table class="table" style="margin-left:36%; width:2%; height:600px; text-align:right; display: inline-block">
            <tr><td>150</td></tr>
            <tr><td>140</td></tr>
            <tr><td>130</td></tr>
            <tr><td>120</td></tr>
            <tr><td>110</td></tr>
            <tr><td>100</td></tr>
            <tr><td>90</td></tr>
            <tr><td>80</td></tr>
            <tr><td>70</td></tr>
            <tr><td>60</td></tr>
            <tr><td>50</td></tr>
            <tr><td>40</td></tr>
            <tr><td>30</td></tr>
            <tr><td>20</td></tr>
            <tr><td>10</td></tr>
            <tr><td>0</td></tr>
        </table>
        <div class="slider-wrapper">
            <input name="rsme" class="input-range" type="range" step="1" value="0" min="1" max="150">
        </div>
        <table class="table" frame="void" style="width:50%; height:600px; display: inline-block; border: #eee">
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td> Extreme Effort</td></tr>
            <tr><td></td></tr>
            <tr><td> Very Great Effort</td></tr>
            <tr><td></td></tr>
            <tr><td> Great Effort</td></tr>
            <tr><td></td></tr>
            <tr><td> Considerable Effort</td></tr>
            <tr><td></td></tr>
            <tr><td> Rather Much Effort</td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td> Some Effort</td></tr>
            <tr><td></td></tr>
            <tr><td> A Little Effort</td></tr>
            <tr><td></td></tr>
            <tr><td> Almost No Effort</td></tr>
            <tr><td></td></tr>
            <tr><td> Absolutely No Effort</td></tr>
        </table>
    </div>

    <div id="next-page" class="d-flex justify-content-center" style="display:none">
        {% next_button %}
    </div>

{% endblock %}
