{% extends 'global/Page.html' %}

{% block title %}
    <div class="d-flex justify-content-center" style="margin-top: -50px">
        <h2 style="margin-bottom:20px">MENTAL ARITHMETIC TASKS COMPLETED</h2>
    </div>
{% endblock %}

{% block content %}

    <style>
        tr:nth-child(even) {background-color: #f9f9f9;}
        th {
            text-align:center;
            width: 5%;
        }
        input[type="radio"]{margin-left:-5.5px}
    </style>

    <div id="dcd" class="jumbotron" style="padding-top: 5%">
        <p>Please indicate which statement is most true to you:</p>

        <table class="table q" frame="void" style="width:100%">
            <tr>
                <th></th>
                <th style="text-align:center"> Easy </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center">  </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Difficult </th>
            </tr>
            <tr>
                <th></th>
                <th style="text-align:center"> 1 </th>
                <th style="text-align:center"> 2 </th>
                <th style="text-align:center"> 3 </th>
                <th style="text-align:center"> 4 </th>
                <th style="text-align:center"> 5 </th>
                <th style="text-align:center"> 6 </th>
                <th style="text-align:center"> 7 </th>
            </tr>

                <tr>
                    <td align="left" style="min-width:40px">{{ form.difficulty.label }}</td>

                    {% for choice in form.difficulty %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>

        </table>

        <table class="table q" frame="void" style="width:100%">
                <tr>
                    <th></th>
                    <th style="text-align:center"> Low </th>
                    <th>  </th>
                    <th>  </th>
                    <th style="text-align:center">  </th>
                    <th>  </th>
                    <th>  </th>
                    <th style="text-align:center"> High </th>
                </tr>
                <tr>
                    <th></th>
                    <th style="text-align:center"> 1 </th>
                    <th style="text-align:center"> 2 </th>
                    <th style="text-align:center"> 3 </th>
                    <th style="text-align:center"> 4 </th>
                    <th style="text-align:center"> 5 </th>
                    <th style="text-align:center"> 6 </th>
                    <th style="text-align:center"> 7 </th>
                </tr>

                    <tr>
                        <td align="left" style="min-width:40px">{{ form.competence.label }}</td>

                        {% for choice in form.competence %}
                            <td align="center" >{{ choice }}</td>
                        {% endfor %}
                    </tr>
        </table>

        <table class="table q" frame="void" style="width:100%">
            <tr>
                <th></th>
                <th style="text-align:center"> Too Low </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Just Right </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Too High </th>
            </tr>
            <tr>
                <th></th>
                <th style="text-align:center"> 1 </th>
                <th style="text-align:center"> 2 </th>
                <th style="text-align:center"> 3 </th>
                <th style="text-align:center"> 4 </th>
                <th style="text-align:center"> 5 </th>
                <th style="text-align:center"> 6 </th>
                <th style="text-align:center"> 7 </th>
            </tr>

                <tr>
                    <td align="left" style="min-width:40px">{{ form.demands.label }}</td>

                    {% for choice in form.demands %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>

        </table>
        <table class="table q" frame="void" style="width:100%">
            <tr>
                <th></th>
                <th style="text-align:center"> Too Low </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Just Right </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Too High </th>
            </tr>
            <tr>
                <th></th>
                <th style="text-align:center"> 1 </th>
                <th style="text-align:center"> 2 </th>
                <th style="text-align:center"> 3 </th>
                <th style="text-align:center"> 4 </th>
                <th style="text-align:center"> 5 </th>
                <th style="text-align:center"> 6 </th>
                <th style="text-align:center"> 7 </th>
            </tr>

                <tr>
                    <td align="left" style="min-width:40px">{{ form.attentionCheck.label }}</td>

                    {% for choice in form.attentionCheck %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
        </table>

    </div>

    <div id="impint" class="jumbotron" style="padding-top: 5%">
        <p>How much do you agree with the following statements?</p>
        <table class="table mytable" frame="void" style="width:100%; ">
            <tr>
                <th></th>
                <th style="text-align:center"> Not At All </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Partly </th>
                <th>  </th>
                <th>  </th>
                <th style="text-align:center"> Very Much </th>
            </tr>
            <tr>
                <th></th>
                <th style="text-align:center"> 1 </th>
                <th style="text-align:center"> 2 </th>
                <th style="text-align:center"> 3 </th>
                <th style="text-align:center"> 4 </th>
                <th style="text-align:center"> 5 </th>
                <th style="text-align:center"> 6 </th>
                <th style="text-align:center"> 7 </th>
            </tr>

            {% for field in form %}
            {% if  forloop.counter > 4 %}
                <tr>
                    <td align="left" style="min-width:40px">{{ field.label }}</td>

                    {% for choice in field %}
                        <td align="center" >{{ choice }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>

    <div id="next-page" class="d-flex justify-content-center" style="display:none">
        {% next_button %}
    </div>

    <script>
        // For better UX: Select radio button when clicking into a table cell
        $('td').click(function() {
            $(this).find('input:radio').prop('checked', true);
        })
    </script>

     <script>
        // Randomize order of first 4 questions
        document.addEventListener('DOMContentLoaded', () => {   // CHART FOR 3 TICKETS
            var cards = $(".q");
            for (var i = 0; i < cards.length; i++) {
                var target = Math.floor(Math.random() * cards.length - 1) + 1;
                var target2 = Math.floor(Math.random() * cards.length - 1) + 1;
                cards.eq(target).before(cards.eq(target2));
            }
        })
    </script>

{% endblock %}