{% extends 'global/Page.html' %}

{% block title %}
    <div class="d-flex justify-content-center" style="margin-top: -50px">
        <h2 style="margin-bottom:20px">MENTAL ARITHMETIC</h2>
    </div>
{% endblock %}

{% block content %}

    <div style="text-align: center; margin: 10px">
        <div id="taskDiv">
            <div id="equationDisplay" style="margin: 10px"><span id="equation">XXX + X</span><span> = ?</span></div>

            <div id="inputForm" style="margin: 10px"><input id="userInput" maxlength="3" name="userInput" style="text-align: center" type="text" /></div>

            <div style="margin: 10px"><i>Press the Enter key to submit your answer.</i></div>
        </div>

        <!-- Logging field -->
        {{ formfield "math_actions" }}

        <!-- NEXT BUTTON -->
        <div>
            <h4 id="timeup"  style="display:none">Time is up! Click the button below to continue.</h4>
            <div class="d-flex justify-content-center" style="display:none">
                <button class="btn-primary btn-lg" id="nextbtn"  style="display:none">Next</button>
            </div>
        </div>
    </div>

    <script>
      // Make some global vars (update on load)
      // Math task fields
      var taskDiv;
      var equationField;
      var inputField;
      var equation;

      // Timer vars
      var mainTimer;
      var trialTimer;
      var breakTimer;
      var trialStartTime;
      var trialEndTime;
      var trialDuration;

      // Logic vars
      const difficulty_selection = {{ math_difficulty_selection }};
      var level = difficulty_selection + 2;
      var problem;

      // Logging elements
      var loggingField;

      // Procedure elements
      var nextBtn;
      var nextMsg;

      function getTSString(){
        let clickTs = new Date();
        return clickTs.toString() + ';' + clickTs.getTime()
      }

      // See: https://stackoverflow.com/questions/16310423/addeventlistener-calls-the-function-without-me-even-asking-it-to
      function logTime(tsFieldObject, msg) {
        return function () {
          // Add time to field
          tsFieldObject.value = tsFieldObject.value + ';' + msg + ';' + getTSString();
        }
      }

      function logTimeDirect(tsFieldObject, msg) {
        // Add time to field
        tsFieldObject.value = tsFieldObject.value + ';' + msg + ';' + getTSString();
      }

      function startTrial() {
        logTimeDirect(loggingField, 'trialStart');

        // Set a new equation
        equation = makeEquation();
        equationField.textContent = equation;

        // Store time of trial start
        trialStartTime = new Date();

        // Clear Input Field
        inputField.disabled = false;
        inputField.value = "";
        inputField.select();

        return setTimeout(function (){
          breakTimer = scheduleBreak();
        }, trialDurationMs);
      }

      function scheduleBreak() {
        logState();

        // Block Input Field
        inputField.disabled = true;
        inputField.value = "Please Wait";
        equationField.textContent = "XXX + X";

        return setTimeout(function (){
          // console.log("Break over!");
          trialTimer = startTrial();
        }, breakDurationMs);
      }

      function makeEquation() {
        // Generate new problem
        return arrayToString(flowProblem());
      }

      function sumOfArray(arr) {
        // Getting sum of numbers
        return arr.reduce(function(a, b){
          return a + b;
        }, 0);
      }

      function arrayToString(arr) {
        let problemText = arr[0];
        for (let i = 1; i < arr.length; i++) {
          problemText += " + " + arr[i];
        }
        return problemText;
      }

      function boredomProblem() {
        // generate 1 random integer between [1, 3]
        problem = [101, Math.floor(Math.random() * 3) + 1];

        // Check that result is a 3-digit number between [101, 104].
        if (sumOfArray(problem) > 101 && sumOfArray(problem) < 105) {
          return problem;
        } else {
          return boredomProblem();
        }
      }

      function flowProblem() {
        problem = [];
        let summandZahl = 2; // Default (Required minimum)
        let letzterSummandEinstellig = false; // Default

         // Compute nr. of summands.
        if (level > 0) {
          // If level uneven last summand with one digit
          if ((level % 2) === 1) {
            temp = parseInt(level) + 1;
            letzterSummandEinstellig = true;
            summandZahl = (temp / 2) + 2;
          } else {
            summandZahl = (level / 2) + 2;
          }
        }

        // Generate problem with random numbers.
        if (letzterSummandEinstellig) {
          for (let i = 0; i < summandZahl - 1; i++) {
            problem[i] = Math.floor(Math.random() * 89) + 10;
          }
          problem[summandZahl - 1] = Math.floor(Math.random() * 9) + 1;
        } else {
          for (let i = 0; i < summandZahl; i++) {
            problem[i] =  Math.floor(Math.random() * 89) + 10;
          }
        }

        // Check that result is a 3-digit number.
        if (sumOfArray(problem) > 99 && sumOfArray(problem) < 999) {
          return problem;
        } else {
          return flowProblem();
        }
      }

      function logState() {
        // Log input & duration
        trialEndTime = new Date();
        trialDuration = trialEndTime.getTime() - trialStartTime.getTime();
        logString = "equation=" + equation.replaceAll(' + ', '+') +
                "&response=" + inputField.value +
                "&trialDuration=" + trialDuration +
                "&time=";
        logTimeDirect(loggingField, logString);
      }

      function startMainTimer() {
        return setTimeout(function (){
          console.log("All time over!");
          logState();

          // Cancel all running timers
          clearTimeout(trialTimer);
          clearTimeout(breakTimer);

          // Log time and move on to next LimeSurvey part
          logTimeDirect(loggingField, 'timeOut');
          nextMsg.style.display = "block";
          nextBtn.style.display = "block";
          taskDiv.style.display = "none";
        }, taskDurationMs);
      }

      function startTask() {
          logTimeDirect(loggingField, 'taskStart');

        // Start main Timer
        mainTimer = startMainTimer();

        // Start first trial
        trialTimer = startTrial();
      }

      jQuery(document).ready( function() {
        // Get all the elements that need to be adjusted here
        // Get math task elements
        taskDiv = document.getElementById("taskDiv");
        equationField = document.getElementById("equation");
        inputField = document.getElementById("userInput");
        nextMsg = document.getElementById("timeup");
        nextBtn = document.getElementById("nextbtn");

        // Logging Parts
        loggingField = document.getElementById("id_math_actions");

        // Log time on load
        logTimeDirect(loggingField, 'onLoad');

        // Show initial instructions and hide other elements
        loggingField.style.display = "none";
        nextBtn.style.display = "none";

        // Add action log
        nextBtn.addEventListener("click", logTime(loggingField, 'onNextClick')); // Log time on btn click

        startTask();

        // Need to escape form submit on enter
        // See: https://forums.limesurvey.org/forum/design-issues/83619-tab-and-enter-keys
        $('input').on('keydown keypress', function(e) {
          if(e.keyCode === 13) {
            return false;
          }
        });

        // Add listener for user input (press enter key)
        inputField.addEventListener("keyup", function(e) {
          if(e.keyCode === 13) {
            // Clear trial timer & schedule break
            clearTimeout(trialTimer);
            breakTimer = scheduleBreak();
          }
        });
      } );
    </script>

{% endblock %}
